@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Slab", serif;
  @apply dark:bg-gray-800 text-white;
}

.main-title {
  @apply text-5xl md:text-6xl lg:text-7xl font-bold p-3;
  width: max-content;
}

.search-input {
  @apply p-4 rounded-full;
}

.info-container {
  @apply flex flex-col text-center items-center space-y-8 my-5 text-2xl;
}

.feature-on-hover {
  display: none;
}

.info-title {
  @apply text-4xl text-center font-bold mt-9 lg:mt-0;
}

.feature:hover > .feature-on-hover {
  display: flex;
}

.classic-btn {
  @apply text-stone-600 font-bold border-2 border-stone-600 py-2 px-4 rounded-xl text-xl hover:bg-stone-200 ease-in-out duration-300;
}

.paragraph {
  @apply text-gray-500 dark:text-gray-400;
}

.paragraph-title {
  @apply text-2xl my-3 font-bold text-gray-500 dark:text-gray-400;
}

.round-image {
  @apply rounded-full object-cover p-1 ring-1 ring-gray-400;
}
