@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
  --sliderItemHeight: 240px;
  --sliderItemHeightMinus: -240px;
}

body {
  font-family: 'Roboto', sans-serif;
  @apply text-slate-900 dark:text-white ease-in-out duration-500 min-h-screen;
}

@layer utilities {
  .important-information {
    @apply text-purple-600 dark:text-blue-400 italic font-bold;
  }

  .dark-bg-animation {
    animation: 15s infinite bodyBg ease alternate;
    background-image: linear-gradient(
      135deg,
      #151e29 0%,
      #000f1c 24%,
      #1a1a31 49%,
      #000f1c 75%,
      #0c1e2f 100%
    );

    background-size: 200% 200%;
  }

  .bg-animation {
    animation: 15s infinite bodyBg ease alternate;
    background-image: linear-gradient(
      64deg,
      #f4efff 0%,
      #ffffff 21%,
      #f6fbea 39%,
      #ffffff 60%,
      #ffeafe 80%,
      #ffffff 100%
    );

    background-size: 200% 200%;
  }

  @keyframes bodyBg {
    from {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    to {
      background-position: 0% 50%;
    }
  }
}

.app {
  min-height: calc(100vh - 267px);
  @apply flex items-center;
}

.techs > a {
  @apply bg-none dark:bg-slate-500/20 rounded-full p-4 my-3 flex items-center justify-center shadow;
}

.classic-btn {
  @apply text-gray-600 font-bold border-2 border-gray-600 py-2 px-4 rounded-xl text-xl hover:bg-stone-200 ease-in-out duration-300;
}

.paragraph {
  @apply text-gray-500 dark:text-gray-400;
}

.paragraph-title {
  @apply my-3 font-bold text-gray-500 dark:text-gray-400;
}

.form-error-field {
  @apply text-orange-200 mt-2 ml-2 py-1 px-2 w-max bg-gray-900 rounded-xl text-sm;
}

.icon-button-project {
  @apply border-slate-800 border-2 rounded-full p-1 hover:bg-slate-200 ease-in-out duration-300;
}

.tooltip-parent > div {
  opacity: 0;
}

.tooltip-parent:active > div {
  opacity: 0;
}

.tooltip-parent:hover > div {
  opacity: 1;
}

.project-search-results {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40ch;
}

.slider {
  height: var(--sliderItemHeight);
  position: relative;
  width: 100%;

  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track2 {
  width: calc(var(--sliderItemHeight) * 30);
  display: flex;
  animation: scroll2 25s linear infinite;
  justify-content: space-between;
}

.slide {
  display: grid;
  place-items: center;
  transition: 400ms;
}

.slide:hover {
  transform: scale(1.2);
}

@keyframes scroll2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-240px * 10));
  }
}
